body {
background-color: #ccafaf ; }

hr {
    border-style: none;
    border-top-style: dotted;
border-color: #ffcac2;
border-width: 5px;
width: 30%; }
h3 {
  color: #900c3f ; }

h1 
  { color: #900c3f ; }
